<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="svg" href="img/superhero.svg" />
    <title>Superhero search</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/sketchy/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-NkI/Nlr1DZ5rUXWWdnuZb97FQRgCCcwC66DC+HUCY0oVx6BgBHUfPcwL1vwp93JZ"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style/index.css" />
  </head>
  <body class="container-xl h-100">
    <div id="hero">
      <div class="form-group">
        <label class="col-form-label col-form-label-lg" for="inputLarge"
          ><h1>Superhero</h1></label
        >
        <input
          class="form-control form-control-lg"
          type="text"
          placeholder="Search for your Superhero...."
          id="inputLarge"
          v-model="name"
        />

        <button
          v-on:click="getSuperhero('{item.id}')"
          type="button"
          class="btn btn-warning"
        >
          Find
        </button>
      </div>

      <div class="card-container flex-wrap">
        <div
          class="card border-secondary mb-3"
          style="width: 18rem;"
          v-for="item in superhero.results"
        >
          <img
            class="card-img-top"
            v-bind:src="item.image.url"
            alt="Picture not found"
          />
          <div class="card-body">
            <h5 class="card-title">
              Superhero: {{item.name}}
            </h5>

            <!-- -->
            <div style="width: 100%;">
              <p
                class="alignment alignment--good"
                v-if="item.biography.alignment==='good'"
              >
                What type: Hero
              </p>
              <p
                v-else-if="item.biography.alignment==='bad'"
                class="alignment alignment--bad"
              >
                What type: Villain
              </p>
              <p v-else class="alignment alignment--neutral">
                What type: Neutral
              </p>
            </div>
            <p>
              {{item.name}} works as a {{item.work.occupation}} who lives in
              {{item.work.base}}
            </p>
            <!--  -->
            <button
              v-on:click="getMoreInfo(item.id)"
              class="btn btn-info"
              data-toggle="modal"
              data-target="#staticBackdrop"
            >
              More info
            </button>
          </div>
        </div>
      </div>

      <div
        v-if="modal"
        class="modal fade"
        id="staticBackdrop"
        data-backdrop="static"
        tabindex="-1"
        role="dialog"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="staticBackdropLabel">
                {{character.name}}
              </h4>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <ul>
                <li>
                  <h6>
                    Real name:
                  </h6>
                  <p>{{character["full-name"]}}</p>
                </li>
                <li>
                  <h6>Aliases:</h6>
                  <p>
                    <span
                      v-for="(alias, index) in character.aliases"
                      :key="index"
                      >{{ index > 0 ? `, `:`No alias`}}{{alias}}</span
                    >
                  </p>
                </li>
                <li>
                  <h6>First appearances:</h6>
                  <p>{{character["first-appearance"]}}</p>
                </li>
                <li>
                  <h6>
                    Alignment:
                  </h6>
                  <p v-if="character.alignment==='good'" style="color: green;">
                    good
                  </p>
                  <p
                    v-else-if="character.alignment==='bad'"
                    style="color: red;"
                  >
                    bad
                  </p>
                  <p v-else style="color: yellow;">
                    neutral
                  </p>
                </li>
                <!-- <li>
                  <h6>
                    Alignment:
                  </h6>
                  <p>
                    {{character.alignment}}
                  </p>
                </li> -->
              </ul>
            </div>
            <div class="modal-footer">
              <button
                v-on:click="getMoreInfo()"
                type="button"
                class="btn btn-danger"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <script src="src/script.js"></script>
  </body>
</html>
