@mixin flex($justify, $align) {
  justify-content: $justify;
  align-items: $align;
  display: flex;
}

@mixin just($justify) {
  justify-content: $justify;
  display: flex;
}

body {
  margin: auto;
}

.card-img-top {
  width: 50%;
  width: 285px;
}

.container-xl {
  //   @include just(center);
  //   background-color: #2ec4b6;
  background-color: #d0fcb3;
  margin: 50px auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: none;
}

.btn-warning {
  width: 300px;
  margin: 50px;
  font-size: 1.5rem;
  outline: none;
}

.btn:hover {
  transform: scale(1.1);
}

input {
  outline: none;
}

.card-container {
  @include flex(space-between, center);
}
.card {
  margin: 30px auto !important;
  @include flex(center, center);
  padding-top: 10px;
  transition: 1s;
  height: 600px;
  //   overflow: scroll;
}
.card:hover {
  transform: scale(1.1);
}

.card-body {
  @include flex(space-around, center);
  flex-direction: column;
  //   overflow: scroll;
}

.img-container {
  //   width: 18rem;
  height: 200px;
}

.card-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.card-info {
  width: 100%;
  overflow: scroll;
}

.alignment {
  text-align: center;
  letter-spacing: 2px;
}
.alignment--good {
  background-color: #c3e6cb;
  border: solid 1px #8fd19e;
}

.alignment--bad {
  background-color: #f5c6cb;
  border: solid 1px #ed969e;
}

.alignment--neutral {
  background-color: #ffeeba;
  border: solid 1px #ffdf7e;
}

.modal-header,
.modal-footer {
  border: none;

  @include flex(center, center);
}

h6 {
  text-decoration: underline;
}

ul {
  list-style: none;
}

// @include media-breakpoint-down(xs) { ... }
// @include media-breakpoint-down(sm) { ... }
// @include media-breakpoint-down(md) { ... }
// @include media-breakpoint-down(lg) { ... }
// // No media query necessary for xl breakpoint as it has no upper bound on its width

// // Example: Style from medium breakpoint and down
// @include media-breakpoint-down(md) {
//   .custom-class {
//     display: block;
//   }
// }
