@mixin flex($justify, $align) {
  justify-content: $justify;
  align-items: $align;
  display: flex;
}

@mixin just($justify) {
  justify-content: $justify;
  display: flex;
}

body {
  margin: auto;
  border: pink 1 solid;
}

.card-img-top {
  width: 50%;
}

.container-xl {
  //   @include just(center);
  background-color: #28a745;
  margin: 50px auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: none;
}

.btn-warning {
  width: 300px;
  margin: 50px;
  font-size: 1.5rem;
  outline: none;
}

.btn:hover {
  transform: scale(1.1);
}

input {
  outline: none;
}

.card-container {
  @include just(space-between);
}
.card {
  margin: 30px 0px;
  @include flex(center, center);
  padding-top: 10px;
  transition: 1s;
}
.card:hover {
  transform: scale(1.1);
}

.card-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.modal-header,
.modal-footer {
  border: none;

  @include just(center);
}

// @include media-breakpoint-down(xs) { ... }
// @include media-breakpoint-down(sm) { ... }
// @include media-breakpoint-down(md) { ... }
// @include media-breakpoint-down(lg) { ... }
// // No media query necessary for xl breakpoint as it has no upper bound on its width

// // Example: Style from medium breakpoint and down
// @include media-breakpoint-down(md) {
//   .custom-class {
//     display: block;
//   }
// }
